.card {
	font-size: 12px;
	letter-spacing: 0.5px;

	&__header {
		display: flex;
		align-items: center;
		height: 50px;
		padding: 0 20px;

		.label {
			font-size: 12px;
		}

		.value {
			font-size: 18px;
			font-weight: bold;
			margin-left: 10px;
		}
	}

	&__container {
		padding: 0 20px;
		height: 50px;
	}

	&__footer {
		display: flex;
		align-items: center;
		height: 50px;
		border-top: 1px solid #f7f7f7;
		font-size: 12px;
		margin: 0 5px;
		padding: 0 15px;
		box-sizing: border-box;

		.label {
			margin-right: 10px;
		}

		.value {
			font-size: 13px;
		}
	}
}
